ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  outline: none !important;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
* {
  outline: none !important;
}
.container {
  max-width: 1100px !important;
  /*padding: 0px !important;*/
  /*overflow: hidden;*/
  /*padding-bottom: 60px;*/
}
a:hover {
  text-decoration: none;
  color: #fff;
}
ul,
li {
  display: block;
}
p {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box !important;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flexc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.visi {
  overflow: visible !important;
}
.br {
  border: 1px solid red;
}

.color_w {
  color: #fff;
}
.color_b {
  color: #000;
}

/*==========================================*/

#header {
  position: absolute;
  width: 100%;
  z-index: 200;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header_wrap {
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_conact:hover a {
  color:#000;
  transition: .3s;
}
#pagi {
  padding-top: 40px;
  padding-bottom: 0px;
}
.pagi_text {
  font-size: 20px;
  font-family: 'Roboto-Light';  
}
.pagi_text span {
color: #01C15A;
}
.services_page {
  background: url(../img/serv_page_bg.png) no-repeat center bottom;
}
.header_fixed {
  position: fixed !important;
  background: rgba(5, 153, 42, 0.9);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#seo .ads_card_wrap {
    margin-top: 20px;
}
.services_seo_title {
  font-family: 'Roboto-Medium'; 
  font-size: 18px;
}
.services_seo {
  margin-bottom: 40px;
}
.footer_copy {
  color:#848B87;
  font-size: 13px;
  font-family: 'Roboto-Regular'; 
}
.header_fixed .header_conact {
    margin-bottom: 0px;
}
.header_fixed .logo_wrap {
  margin-top: 5px;
    margin-bottom: 5px;
}
.logo_wrap {
  display: flex;
  align-items: center;
}
.header_menu ul {
  display: flex;
}
.header_conact a {
  color: #fff;
  font-size: 18px;
   font-family: 'Roboto-Regular'; 
}
.header_conact {
  margin-bottom: 10px;
}
.header_menu ul li{
  margin-left: 15px;
}
.header_conact {
  text-align: right;
}
.header_menu a {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  color:#fff;
  position: relative;
}
.header_menu a:after {
 width: 100%;
 height: 3px;
 background: red;
 position: absolute;
 top: 100%;
 left: 0px;
 content: '';
 /* opacity: 0; */
 transition: .2s;
 display: none;
}
.active_menu a  {
font-family: 'Roboto-Bold'; 
}
.header_menu a:hover:after {
 /* opacity: 1; */
 display: block;
}
/* .header_menu a:hover {
 background: #000;
} */
.price_icon {
  margin-bottom: 10px;
}
.price_card__color .price_text_config {
  color: #fff;
}
.price_list {
  margin-top: 10px;
}
.price_text_config {
  font-weight: 700;
  font-family: 'Bahnschrift'; 
  font-size: 28px;
  line-height: 35px;
}
.price_card {
  background:#fff;
  width: 100%;
  border-radius: 8px;
}
.price_card_bg {
 background: linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -moz-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -o-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -ms-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  width: 340px;
  border-radius: 8px;
  padding: 2px;
}
.price_card__color {
  background: none !important;
}
.price_card_wrap {
  margin-top: 30px;
}
.price_card__color .button_gradient {
  background: #fff;
  color: #000;
   font-family: 'Roboto-Black';  
}
.price_card__color .button_gradient span {
   background: linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price_card__color .list_item_text {
  color: #fff;
}
.list_item_text {
  font-size: 18px;
  font-family: 'Roboto-Regular'; 
}
.price_card_wrap {
  justify-content: space-between;
}
.price_card .button_gradient {
  margin-top: 20px;
}
.list_item_text {
  margin-left: 13px;
  flex: 1;
}

.price_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  transition: .3s;
  padding: 20px 0px;
}
.price_card:hover {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.4);
}
#offer {
  height: 800px;
  position: relative;
   background: url(../img/red-traffic_bg_green-screen.png) no-repeat center center/cover,
                url(../img/red-traffic_bg_11.jpg) no-repeat center center/cover; 
}
.offer_figure1 {
  position: absolute;
  left: 100%;
  top: 0px;
  margin-left: -271px;
  margin-top:40px ;
}
.offer_figure2 {
  top: 100%;
  left: 0px;
  margin-top: -110px;
}
.offer_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.offer_text {
  font-size: 46px;
  font-family: 'Roboto-Light'; 
  text-align: center;
  color: #fff;
}
.offer_title h1 {
  font-size: 78px;
  font-family: 'Bahnschrift';
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.block_title h3 {
  position: relative;
  font-size: 36px;
 font-family: 'Bahnschrift'; 
  font-weight: 700;
  display: inline;
}
.block_title {
  text-align: center;
}
.block_title h3:after {
  position: absolute;
  top: 100%;
  left: 0px;
  content: "";
  width: 50px;
  height: 10px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  background: linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -moz-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -o-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -ms-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  /* background: var(--main-gradient);
  background: var(--main-gradient-moz-);
  background: var(--main-gradient-o-);
  background: var(--main-gradient-ms-); */
}
.services_block {
  display: flex;
  height: 320px;
}
.services_text_title {
  font-size: 20px;
  font-family: "Bahnschrift";
  font-weight: 700;
}
.price_list_item {
  /* border-top: 1px solid #E7E7E9; */
  padding: 10px 0px;
}
.price_list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.price_list_line {
  width: 100%;
  height: 1px;
  background: #E7E7E9;
}
.services_text {
  margin-left: 15px;
}
.list_item_icon {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.not_active .list_item_text {
  opacity: .5;
  text-decoration: line-through;
}
.services_block {
  /* box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25); */
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 18px 15px;
  margin-top: 30px;
  background:#fff;
  transition: .3s;
}
.services_block:hover {
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
}
.services_seo_text {
  font-size: 18px;
  font-family: 'Roboto-Light';  
}
.button_gradient {
  width: 246px;
  height: 50px;
  background: linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -moz-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -o-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -ms-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  border-radius: 10px;
  color: #fff;
  font-family: "Roboto-Bold";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #fff;
}
.button_gradient:hover {
  -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
}
.services_text_description {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  font-family: "Roboto-Regular";
}
.services_icon {
  display: flex;
  align-items: center;
}
.services_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn_gradient_white {
  position: relative;
  width: 160px;
  height: 50px;
  margin: 30px;
  border-radius: 30px;
  background: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto-Bold";
  cursor: pointer;
  transition: 0.3;
}
.servise_all_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_gradient_white:hover span {
  color: #000;
}

.btn_gradient_white::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -moz-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -o-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -ms-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  border-radius: 34px;
  z-index: -1;
}

.btn_gradient_white span {
  background: linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -moz-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -o-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -ms-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 164px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_gradient_white:hover {
  -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.feed_back_text {
  font-size: 18px;
  font-family: "Roboto-Regular";
}
.feed_back_descr_item {
  font-size: 18px;
  font-family: "Roboto-Regular";
}
.feed_back_descr_item span {
  font-size: 18px;
  font-family: "Roboto-Bold";
}
.feed_back_descr {
  padding: 17px 0px;
}
.feed_back_title {
  font-family: "Bahnschrift";
  font-size: 36px;
  text-align: center;
  margin-top: 40px;
}
.feed_back_icon {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.feed_back_sosial_text {
  font-size: 18px;
  font-family: "Roboto-Bold";
  margin-left: 13px;
}
.feed_back_sosial_item {
  display: flex;
  align-items: center;
  width: 160px;
  height: 50px;
  padding: 0px 17px;
  border-radius: 10px;
  margin-top: 10px;
}
.viber_color {
  border: 1px solid #9251a6;
}
.viber_color .feed_back_sosial_text {
  color: #9251a6;
}
.whatsapp_color {
  border: 1px solid #53d132;
}
.whatsapp_color .feed_back_sosial_text {
  color: #53d132;
}
.telegram_color {
  border: 1px solid #37aee2;
}
.telegram_color .feed_back_sosial_text {
  color: #37aee2;
}
.feed_back_sosial_item:hover {
  -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  cursor: pointer;
}
.feed_back_form input {
  font-family: "Roboto-Regular";
  color: #848b87;
  font-size: 18px;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  padding-left: 20px;
  border-image-source: var(--main-gradient);
  border-width: 1pt;
  border-image-slice: 1;
}
.wrap_input textarea {
  font-family: "Roboto-Regular";
  color: #848b87;
  font-size: 18px;
  height: 230px !important;
  width: 100%;
  border-radius: 10px;
  padding-left: 20px;
  border: none;
}
.wrap_input {
  background: linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -moz-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -o-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -ms-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  padding: 1px;

  margin-top: 20px;
}
.wrap_input_teatarea {
  height: 233px;
}
.form_btn {
  width: 100%;
  height: 75px;
  background: linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -moz-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -o-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -ms-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  border: none;
  font-size: 18px;
  font-family: "Roboto-Bold";
  color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.form_btn:hover {
  -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
}
.otstyp_text_form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrap_input input {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
}
.wrap_input input:hover {
  -webkit-box-shadow: 0px 0px 6px 4px rgba(1, 193, 90, 0.3) inset;
  -moz-box-shadow: 0px 0px 6px 4px rgba(1, 193, 90, 0.3) inset;
  box-shadow: 0px 0px 6px 4px rgba(1, 193, 90, 0.3) inset;
}
.wrap_input textarea:hover {
  -webkit-box-shadow: 0px 0px 6px 4px rgba(1, 193, 90, 0.3) inset;
  -moz-box-shadow: 0px 0px 6px 4px rgba(1, 193, 90, 0.3) inset;
  box-shadow: 0px 0px 6px 4px rgba(1, 193, 90, 0.3) inset;
}

.wrap_input input,
.wrap_input textarea {
  transition: 0.3s;
  cursor: pointer;
}
.about_wrap_text p {
  font-size: 18px;
  font-family: "Roboto-Regular";
}
.texp_margin p {
  margin-top: 30px;
}
.about_wrap_foto {
  float: left;
  margin: 0 30px 5px 0; /* Отступы */
}
.about_wrap_icon {
  float: right;
  margin: 0 30px 5px 0; /* Отступы */
  display: inline;
}
.about_wrap {
  margin-top: 35px;
}
.form_item_title {
  font-family: "Bahnschrift";
  font-weight: 700;
  font-size: 20px;
}
.form_item_text {
  font-family: "Roboto-Regular";
  margin-top: 10px;
  margin-bottom: 20px;
}
.form_wrap {
  display: flex;
  justify-content: space-between;
}
.form_wrap_icon {
  display: flex;
  align-items: center;
  padding: 0px 40px;
}
.form_wrap_item {
  width: 712px;
}
.button_gradient_form {
  width: 160px;
}
.wrap_input_form {
  width: 255px;
  height: 50px;
  margin-top: 0px;
}
.wrap_input_form input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: "Roboto-Regular";
  color: #848b87;
}
.form_item_form {
  display: flex;
  justify-content: space-between;
}
#form {
  background: #ceddd2;
}
.line_gradient {
  width: 100%;
  height: 10px;
  background: linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -moz-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -o-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  background: -ms-linear-gradient(89.92deg, #01c15a 34.9%, #01abe6 99.92%);
  -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
}
#line_gradient {
  padding: 0px;
  margin: 0px;
}
#footer {
  background: #e7e7e9;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer_title {
  font-size: 20px;
  font-family: "Bahnschrift";
  font-weight: 700;
}
.footer_menu_wrap a {
  font-size: 17px;
  font-family: "Roboto-Regular";
  color: #2c495e;
  cursor: pointer;
  transition: 0.3s;
}
.footer_menu_wrap a:hover {
  color: #01abe6;
}
.footer_menu_wrap ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
}
.footer_contact_text {
  font-size: 17px;
  font-family: "Roboto-Regular";
  color: #2c495e;
}
.sosial_item {
  width: 40px;
  height: 40px;
  border: 1px solid #2c495e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c495e;
  transition: 0.2s;
}
.sosial_item:hover {
  background: #e7e7e9;
  cursor: pointer;
}
.sosial_item:hover svg {
  fill: #2c495e;
}
.sosial_item svg {
  width: 28px;
  height: auto;
  transition: 0.2s;
}
.sosial_item {
  margin-right: 10px;
}
.footer_contact_sosial {
  margin-top: 10px;
}
.ads_img_wrap {
  margin-top: 30px;
}
#ads {
  background: #f4f4f8;
  border-radius: 57px;
}
.ads_wrap {
  background: #e7e7e9;
  padding: 55px 110px;
}
.ads_card_text {
  font-size: 18px;
  font-family: "Roboto-Regular";
}
.ads_card_ititle {
  font-size: 20px;
  font-family: "Bahnschrift";
  font-weight: 700;
  padding: 15px 0px;
}
.ads_card_wrap {
  margin-top: 60px;
}
.ads_wrap {
  position: relative;
  overflow: hidden;
}
.figur1 {
  position: absolute;
  top: 0px;
  left: 100%;
  margin-left: -400px;
  z-index: 50;
}
.figur2 {
  position: absolute;
  top: 100%;
  left: 0px;
  margin-top: -331px;
  z-index: 50;
}
#ads {
  position: relative;
}
.figur3 {
  position: absolute;
  top: 50%;
  left: 100px;
  margin-top: -250px;
  animation: slidein 7s infinite ease-in-out;
  z-index: 50;
}
.figur4 {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -200px;
  margin-top: -175px;
  animation: slidein 7s infinite ease-in-out;
  z-index: 50;
}

@keyframes slidein {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*адаптив*/

@media screen and (max-width: 1240px) {
  #why .slick-track {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1200px) {
  #offer {
    background: url(../img/bg.jpg) no-repeat center center;
  }
}
@media screen and (max-width: 1100px) {
  .why_slid {
    width: 472px !important;
  }
}

@media screen and (max-width: 991px) {
  .accordion {
    width: 100%;
  }
  #customers .slick-slide {
    padding: 20px;
  }
  #customers .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
  }
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .step_card {
    width: 220px;
  }
  #step {
    padding-bottom: 70px;
  }
  #offer {
    padding-top: 75px;
  }
}
@media screen and (max-width: 920px) {
  .footer_sosial_wrap a {
    margin-left: 0px;
  }
  .footer_sosial_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #why .title_under {
    width: 450px;
  }
  #why .title_bloc h2 {
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .footer_mark {
    border-top: 1px solid #9580ac;
    padding-top: 0px;
    margin-top: 25px;
  }
  .footer_line {
    margin-top: 40px;
    margin-bottom: 45px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 30px;
    background: #4a118a;
  }
  .title_bloc h2 {
    font-size: 50px;
    line-height: 60px;
  }
  #step .title_bloc h2 {
    width: 600px;
  }
  .header_nav {
    display: none;
  }
  #top_margin {
    height: 60px;
  }
  .burger_test {
    display: block;
  }
  .header_wrap_logo {
    justify-content: space-between;
    padding: 0px 0px;
    padding-left: 40px;
  }
  #top_margin {
    height: 80px;
  }
  .header_border {
    /* height: 1px; */
    display: none;
  }
  .header_btn_call img {
    display: block;
  }
  .header_btn_call span {
    color: #34333c;
    margin-left: 6px;
  }
  .header_btn_call {
    height: 29px;
    background: none;
  }
  .point {
    display: block;
    margin-left: 15px;
    margin-right: 5px;
  }
  .header_btn_call {
    margin-left: 0px;
  }
  .brger_menu {
    display: block;
  }
}
@media screen and (max-width: 710px) {
  .offer_main_title h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 690px) {
  .step_card {
    margin: 40px;
  }
  .step_wrap {
    justify-content: space-around;
  }
}
@media screen and (max-width: 670px) {
  .why_slid {
    width: 100% !important;
  }
  #why .button_wrap {
    margin-top: 95px;
  }
  #why .slick-next {
    right: 50%;
    margin-right: -60px;
    top: 100%;
    margin-top: 60px;
  }
  #why .slick-prev {
    left: 50%;
    margin-left: -65px;
    top: 100%;
    margin-top: 60px;
  }
}
@media screen and (max-width: 610px) {
  .step_card {
    width: 100%;
  }
  #step .title_bloc h2 {
    width: 100%;
  }
  .box-modal {
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .footer_sosial_wrap {
    justify-content: center;
  }
  .footer_sosial_wrap a {
    margin: 0px 6px;
  }
  .logo_wrap {
    display: flex;
    justify-content: center;
  }
  .logo_wrap a {
    display: block;
  }
  .footer_sosial_wrap {
    margin-top: 39px;
  }
  .footer_mark {
    display: flex;
    justify-content: center;
  }
  .footer_site_menu {
    justify-content: center;
  }
  .footer_site_menu {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .title_bloc h2 {
    font-size: 40px;
    line-height: 50px;
  }
  #customers .slick-next {
    width: 50px;
    height: 50px;
  }
  #customers .slick-prev {
    width: 50px;
    height: 50px;
  }
  #customers .slick-prev {
    left: 50%;
    top: 215px;
    margin-left: -54px;
  }
  #customers .slick-next {
    right: 50%;
    top: 215px;
    margin-right: -50px;
  }
  .customers_wrap {
    margin-top: 35px;
  }
  #questions {
    padding-bottom: 60px !important;
  }
  .step_card {
    margin: 10px;
  }
  .step_wrap {
    justify-content: space-between;
    margin: 35px 0px;
  }
  #customers {
    padding-bottom: 120px;
    padding-top: 155px;
  }
  #offer {
    padding-bottom: 130px;
  }
  .header_btn_call {
    display: none;
  }
  .point {
    display: none;
  }
  .link_cont {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .offer_form_wrap {
    position: relative;
  }
  .offer_form {
    position: absolute;
    left: 50%;
    margin-left: -135px;
  }
  #why .title_bloc h2 {
    width: 100%;
  }
  #why .title_under {
    width: 100%;
  }
  .why {
    padding-top: 55px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 480px) {
  .questions_btn_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .questions_btn_more {
    margin-left: 0px;
    margin-top: 30px;
  }
  .why {
    padding-bottom: 68px;
  }
  #offer {
    padding-bottom: 169px;
  }
}
@media screen and (max-width: 400px) {
  .jquery-accordion-menu {
    min-width: 100%;
  }
  .brger_menu ul {
    margin-left: -100%;
  }
}
@media screen and (max-width: 375px) {
  #offer {
    padding-bottom: 218px;
  }
  #customers {
    padding-bottom: 120px;
    padding-top: 113px;
  }
}
@media screen and (max-width: 340px) {
  .title_bloc h2 {
    font-size: 36px;
  }
}
