
@font-face {
  font-family: 'Bahnschrift';                                  
  src:url('bahnschrift.ttf') ;    
  font-display: swap; 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';                                  
  src:url('Roboto-Bold.ttf') ;    
  font-display: swap; 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';                                  
  src:url('Roboto-Regular.ttf') ;    
  font-display: swap; 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';                                  
  src:url('Roboto-Light.ttf') ;    
  font-display: swap; 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';                                  
  src:url('Roboto-Medium.ttf') ;    
  font-display: swap; 
  font-weight: normal;
  font-style: normal;
}